<div class="container mt-5">
  <div class="d-flex gap-5 align-items-start"> <!-- align-items-start eklendi -->
    <div class="col-md-6">
      <img [src]="mainImageUrl" class="product-image" />
      <div class="d-flex justify-content-between align-items-center mt-2">
        <button (click)="scrollLeft()" class="scroll-button">&lt;</button>

        <div class="alt-images-container" #scrollContainer>
          <div class="alt-images-inner" #innerContainer>
            <img *ngFor="let photo of visiblePhotos"
                 [src]="photo.url"
                 class="product-alt-image"
                 (click)="changeImage(photo.url)" />
          </div>
        </div>

        <button (click)="scrollRight()" class="scroll-button">&gt;</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mt-5 product-name">{{ product.name }}</div>
      <div class="d-flex justify-content-start gap-3 mt-3">
        <div class="mt-3 company-card d-inline-flex justify-content-start gap-2">
          <p class="mb-0 seller">Satıcı: </p>
          <p class="mb-0 company-name">{{product.company.companyName}}</p>
        </div>
        <div>
          <div class="mt-3 company-card d-inline-flex justify-content-start gap-2">
            <p class="mb-0 follow-company">Takip Et</p>
          </div>
        </div>
      </div>
      <p class="price-text me-3 mt-5">{{ product.price }} TL</p>
      <hr class="divider my-4">
      <div class="d-flex justify-content-start gap-2">
        <button class="col-md-10 d-flex order-button gap-2">
          <i class="bi bi-cart-plus" style="font-size: 1.5rem; color: white;"></i>
          <div class="order-label">Sepete ekle</div>
        </button>
        <button class="col-md-1 d-flex save"><i class="bi bi-heart" style="font-size: 1.5rem; color: gray;"></i></button>
      </div>
    </div>
  </div>
  <div class="container details my-5">
    <mat-tab-group class="custom-tab-group mt-3">
      <mat-tab label="Ürün Açıklaması"><app-product-description [description]="product.description"></app-product-description></mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
